.museu2-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #fffcf5;
}
.museu2-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu2-logo {
  color: #000000;
}
.museu2-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.museu2-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu2-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu2-text {
  color: #000000;
  margin-right: var(--dl-space-space-doubleunit);
}
.museu2-text01 {
  color: #000000;
  margin-right: var(--dl-space-space-doubleunit);
}
.museu2-text02 {
  color: #000000;
  margin-right: var(--dl-space-space-doubleunit);
}
.museu2-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu2-burger-menu1 {
  width: 24px;
  height: 24px;
}
.museu2-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.museu2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.museu2-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.museu2-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.museu2-icon03 {
  width: 24px;
  height: 24px;
}
.museu2-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.museu2-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.museu2-text03 {
  margin-bottom: 8px;
}
.museu2-text04 {
  margin-bottom: 8px;
}
.museu2-text05 {
  margin-bottom: 8px;
}
.museu2-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.museu2-text07 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.museu2-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.museu2-link {
  display: contents;
}
.museu2-icon05 {
  width: 24px;
  height: 24px;
}
.museu2-link01 {
  display: contents;
}
.museu2-icon07 {
  width: 24px;
  height: 24px;
}
.museu2-link02 {
  display: contents;
}
.museu2-icon09 {
  width: 24px;
  height: 24px;
}
.museu2-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.museu2-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu2-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu2-container2 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.museu2-link03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu2-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu2-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu2-container3 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.museu2-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu2-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu2-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu2-link09 {
  text-decoration: none;
}
.museu2-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.museu2-text14 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.museu2-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.museu2-link10 {
  display: contents;
}
.museu2-icon11 {
  fill: #fdfdfd;
  width: 24px;
  height: 24px;
}
.museu2-link11 {
  display: contents;
}
.museu2-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.museu2-link12 {
  display: contents;
}
.museu2-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 767px) {
  .museu2-right-side {
    display: none;
  }
  .museu2-burger-menu {
    display: flex;
  }
  .museu2-menu {
    flex-direction: column;
  }
  .museu2-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .museu2-container2 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .museu2-links-container2 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .museu2-link03 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu2-link04 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu2-link05 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu2-text12 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu2-container3 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .museu2-link06 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu2-link07 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu2-link08 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu2-link09 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu2-follow-container1 {
    margin-left: 0px;
  }
}
