.museu-nacional-azulejo-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #fffcf5;
}
.museu-nacional-azulejo-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu-nacional-azulejo-logo {
  color: #000000;
}
.museu-nacional-azulejo-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.museu-nacional-azulejo-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu-nacional-azulejo-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu-nacional-azulejo-text {
  color: #000000;
  margin-right: var(--dl-space-space-doubleunit);
}
.museu-nacional-azulejo-text01 {
  color: #000000;
  margin-right: var(--dl-space-space-doubleunit);
}
.museu-nacional-azulejo-text02 {
  color: #000000;
  margin-right: var(--dl-space-space-doubleunit);
}
.museu-nacional-azulejo-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu-nacional-azulejo-burger-menu1 {
  width: 24px;
  height: 24px;
}
.museu-nacional-azulejo-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.museu-nacional-azulejo-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.museu-nacional-azulejo-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.museu-nacional-azulejo-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.museu-nacional-azulejo-icon03 {
  width: 24px;
  height: 24px;
}
.museu-nacional-azulejo-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.museu-nacional-azulejo-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.museu-nacional-azulejo-text03 {
  margin-bottom: 8px;
}
.museu-nacional-azulejo-text04 {
  margin-bottom: 8px;
}
.museu-nacional-azulejo-text05 {
  margin-bottom: 8px;
}
.museu-nacional-azulejo-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.museu-nacional-azulejo-text07 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.museu-nacional-azulejo-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.museu-nacional-azulejo-link {
  display: contents;
}
.museu-nacional-azulejo-icon05 {
  width: 24px;
  height: 24px;
}
.museu-nacional-azulejo-link01 {
  display: contents;
}
.museu-nacional-azulejo-icon07 {
  width: 24px;
  height: 24px;
}
.museu-nacional-azulejo-link02 {
  display: contents;
}
.museu-nacional-azulejo-icon09 {
  width: 24px;
  height: 24px;
}
.museu-nacional-azulejo-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.museu-nacional-azulejo-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu-nacional-azulejo-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.museu-nacional-azulejo-container2 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.museu-nacional-azulejo-link03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu-nacional-azulejo-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu-nacional-azulejo-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu-nacional-azulejo-container3 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.museu-nacional-azulejo-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu-nacional-azulejo-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu-nacional-azulejo-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.museu-nacional-azulejo-link09 {
  text-decoration: none;
}
.museu-nacional-azulejo-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.museu-nacional-azulejo-text14 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.museu-nacional-azulejo-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.museu-nacional-azulejo-link10 {
  display: contents;
}
.museu-nacional-azulejo-icon11 {
  fill: #fdfdfd;
  width: 24px;
  height: 24px;
}
.museu-nacional-azulejo-link11 {
  display: contents;
}
.museu-nacional-azulejo-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.museu-nacional-azulejo-link12 {
  display: contents;
}
.museu-nacional-azulejo-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 767px) {
  .museu-nacional-azulejo-right-side {
    display: none;
  }
  .museu-nacional-azulejo-burger-menu {
    display: flex;
  }
  .museu-nacional-azulejo-menu {
    flex-direction: column;
  }
  .museu-nacional-azulejo-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .museu-nacional-azulejo-container2 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .museu-nacional-azulejo-links-container2 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .museu-nacional-azulejo-link03 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu-nacional-azulejo-link04 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu-nacional-azulejo-link05 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu-nacional-azulejo-text12 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu-nacional-azulejo-container3 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .museu-nacional-azulejo-link06 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu-nacional-azulejo-link07 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu-nacional-azulejo-link08 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu-nacional-azulejo-link09 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .museu-nacional-azulejo-follow-container1 {
    margin-left: 0px;
  }
}
